.button {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background-color: gold;
   max-width: 200px;
   max-height: 80px;
   font-size: 30px;
   height: auto;
   width: auto;
   margin: 5px;
   margin-left: 44%;
   
   border: 10px;
   border-radius: 25%;
   line-height: 50px;
   text-align: center
   
   
   
    
}

.dice {
    margin: 10px;
    border: 5px;
    border-radius: 50%;
    display: flex;
    max-width: 300px;
    max-height: 300px;
    height: auto;
    margin-left: 40%;
}

#rollbutton2 {

    background-color: silver;
}

body {
    background:url(background.gif)
}
