.button {
   
   position: relative;
   font-family: 'Roboto', sans-serif;
   font-family: 'Source Code Pro', monospace;
   font-family: 'Teko', sans-serif;
   background-color: gold;
   max-width: 200px;
   max-height: 80px;
   font-size: 30px;
   
   height: 50px;
   width: 65px;
   margin: 5px;
   margin-left: 40%;
   box-shadow: 3px 4px 0px 0px #3f3e3e;
   background:linear-gradient(to bottom, #edf0dc 10%, #d6ec0a 100%);
   
   border: outset 2px;
   border-radius: 25%;
   border-color: pink;

   line-height: 50px;
   text-align: center
   
   
   
   
   
    
}

.button:hover {
    color: rgb(41, 160, 41);
}


.button:active {
    background-color: #cf1616;
    box-shadow: 0 5px rgb(22, 22, 22);
    transform: translateY(2px);
    
}


.dice {
    
    position: relative;
    margin: 10px;
    border: inset 2px;
    border-radius: 50%;
    border-color: rgb(202, 211, 209);
    
    width: 250px;
    height: 250px;
    margin-left: 15%;
    
    
    
}

#startdice1 {
    background-color: red;
}

#startdice2 {
    background-color: blue;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, white 10%,black 90%);
    

}
